@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  body {
    @apply antialiased overflow-x-hidden transition-colors duration-300 w-screen max-w-full;
  }
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }

  .animate-reverse-spin-slow {
    animation: reverse-spin 12s linear infinite;
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}